<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659148730304-qh47pm45rpsq54g1ltg9prl5u0cs2cmc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659148730304-qh47pm45rpsq54g1ltg9prl5u0cs2cmc</string>
	<key>API_KEY</key>
	<string>AIzaSyCG7d7V33GByXlbpnGgTi8_4vHTVDWjGA4</string>
	<key>GCM_SENDER_ID</key>
	<string>659148730304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alaramApp</string>
	<key>PROJECT_ID</key>
	<string>alarmapp-392312</string>
	<key>STORAGE_BUCKET</key>
	<string>alarmapp-392312.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659148730304:ios:fd60097c75680123566225</string>
</dict>
</plist>